@(ggLoginUrl: String)(implicit request: Request[_], messages: Messages)



@views.html.main_template(title = "Access denied", bodyClasses = None) {
    <h1>You can't access this service with this account</h1>
    <section class="subsection">
        <p>
            To use this service you should sign in with an 'organisation' account, but it looks
            like you've tried to use either an 'individual' or 'agent' account.
        </p>

        <p>
            If you don't have an organisation account you can register for a new one.
        </p>
    </section>

    <p>
        <a class="button" href="@ggLoginUrl" role="button" id="sign-in">Sign in or register</a>
    </p>
}