@(form: Form[_])
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@if(form.hasErrors) {
    <div class="flash error-summary error-summary--show"
         id="error-summary-display"
         role="alert"
         aria-labelledby="error-summary-heading"
         tabindex="-1">

        <h2 id="error-summary-heading" class="h3-heading">@Messages("validation.summary.heading")</h2>

        @if(form.errors.exists(_.key == "LLP")) {
            <p>@Messages("error.matching.llp.line1")</p>
            <p>@Messages("error.matching.llp.line2")</p>
            <p>@Messages("error.matching.llp.line3")</p>
            <p>@Messages("error.matching.llp.line4")</p>
        }

        @if(form.errors.exists(_.key == "Corporate Body")) {
            <p>@Messages("error.matching.corpbody.line1")</p>
            <p>@Messages("error.matching.corpbody.line2")</p>
            <p>@Messages("error.matching.corpbody.line3")</p>
        }

        <ul>
            @form.errors.map { error =>
                <li role="tooltip" id='@error.key.replaceAll("""[\.\[\]]""", "_")Error'>
                    <a href='#@error.key.replaceAll("""[\.\[\]]""", "_")'>
                        @Messages(error.message, error.args : _*)
                    </a>
                </li>
            }
        </ul>
    </div>
}