@(form: Form[_], OptionalErrMsg:Option[String] = None)
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@if(form.hasErrors) {
    <div id="errors" class="validation-summary" role="group" aria-labelledby="summary-heading" tabindex="-1">
        <h1 id="summary-heading" class="heading-medium error-summary-heading">

        @Messages("validation.summary.heading")</h1>
            <!--p>@Messages("validation.summary.info")</p-->
        <ul>
        @form.errors.map { error =>
                @if(error.key ==  Messages("org.details.llp")) {
        Your Company name and Partnership Unique Tax reference number do not match.<br>
        Your business name should match the name written on any letters you have from HMRC.<br>
        Your UTR number is made up of 10 or 13 digits, If it is 13 digits only enter the last 10.<br>
        Your UTR should match the UTR on any letters you have from HMRC.
            }
            @if(error.key ==  Messages("org.details.corpbody"))  {
            Your company name and Corporation Tax reference number must both be correct.<br>
            Your company name must match the name written on any letters you have from HMRC.<br>
            Your Corporation Tax reference number must match the number on any letters you have from HMRC. It is made up of 10 or 13 digits. If it is 13 digits only enter the last 10.
             }
            <li class="validation-summary-message" id='@error.key.replaceAll("""[\.\[\]]""", "_")Error'>
                <a href='#@error.key.replaceAll("""[\.\[\]]""", "_")Lbl' data-focuses='@error.key.replaceAll("""[\.\[\]]""", "_")Lbl'>
                @Messages(if (OptionalErrMsg.isDefined) OptionalErrMsg.get else error.message, error.args : _*)
                </a>
            </li>
        }
        </ul>
    </div>
}