@import helper.CSRF
@import uk.gov.hmrc.play.views.html.helpers._
@import config.FrontendAppConfig

@()(implicit request: Request[_], messages: Messages)

@contentHeader = {
    <h1>Registration not successful</h1>
}

@views.html.main_template(title = "Registration not successful - Register as a Lifetime ISA manager - GOV.UK", bodyClasses = None, contentHeader = Some(contentHeader)) {
    <h2>What happens next</h2>

    <p>Email <a href="mailto:savings.audit@@hmrc.gsi.gov.uk">savings.audit@@hmrc.gsi.gov.uk</a> to find out why
        your application was unsuccessful. You'll need to quote your ISA manager reference number.</p>

    <p>Alternatively you can submit a new application.</p>

    <div class="form-field form-field--submit">
        <p><a href="@routes.OrganisationDetailsController.get()" class="button" id="submit">Submit new application</a></p>
    </div>
}
