@import helper.CSRF
@import uk.gov.hmrc.play.views.html.helpers._

@(form: Form[BusinessStructure])(implicit request: Request[_], messages: Messages)

@contentHeader = {
    <h1>Select your business structure</h1>
}

@views.html.main_template(title = "Select your business structure - Register as a Lifetime ISA manager - GOV.UK", bodyClasses = None, contentHeader = Some(contentHeader)) {

<form method="post">
    @CSRF.formField

    @inputRadioGroup(form("businessStructure"), Seq(
        ("Partnership", "Partnership"),
        ("Limited Liability Partnership", "Limited Liability Partnership"),
        ("Corporate Body", "Corporate Body"),
        ("Unincorporated Body", "Unincorporated Body")
    ), '_labelClass -> "block-label")

    <br>

    <div class="form-field form-field--submit">
        <input type="submit" class="button" value="Continue">
    </div>
    <div class="form-field form-field--submit">
        <p><a href="javascript:history.go(-1)">&lt; Back</a></p>
    </div>
</form>

}
