@()(implicit request: Request[_], messages: Messages)

@views.html.main_template(title = "Lifetime ISA", bodyClasses = None) {

    <h1>Organisation details</h1>

    <form method="post">
        <fieldset>
            <div class="form-group">
                <label class="form-label" for="company-name">Company name</label>
                <input class="form-control" id="company-name" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="ctr-num">Corporation Tax reference number</label>
                <input class="form-control" id="ctr-num" type="text">
            </div>
            <div class="form-group">
                <a class="button" href="#">Continue</a>
            </div>
        </fieldset>
    </form>

}
