@import helper.CSRF
@import uk.gov.hmrc.play.views.html.helpers._

@(data: LisaRegistration)(implicit request: Request[_], messages: Messages)

@contentHeader = {
    <h1>Check your answers before submitting your application</h1>
}

@views.html.main_template(title = "Check your answers - Register as a Lifetime ISA manager - GOV.UK", bodyClasses = None, contentHeader = Some(contentHeader)) {

    <table>
        <thead>
            <tr>
                <th colspan="3">
                    <h2>
                        Organisation details
                    </h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Company name<br>
                    Trading name<br>
                </td>
                <td>
                    @data.organisationDetails.companyName<br>
                    @data.organisationDetails.tradingName<br>
                </td>
                <td>
                    <a href="@routes.OrganisationDetailsController.get">
                        Change <span class="visuallyhidden">Organisation Details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Corporation Tax reference number<br>
                    Financial Services Register reference number<br>
                    ISA provider reference number
                </td>
                <td>
                    @data.tradingDetails.ctrNumber<br>
                    @data.tradingDetails.fsrRefNumber<br>
                    @data.tradingDetails.isaProviderRefNumber<br>
                </td>
                <td>
                    <a href="@routes.TradingDetailsController.get">
                        Change <span class="visuallyhidden">Trading Details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Business structure
                </td>
                <td>
                    @data.businessStructure.businessStructure
                </td>
                <td>
                    <a href="@routes.BusinessStructureController.get">
                        Change <span class="visuallyhidden">Business Structure</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    First name<br>
                    Last name<br>
                    Role in organisation<br>
                    Phone number<br>
                    Email address
                </td>
                <td>
                    @data.yourDetails.firstName<br>
                    @data.yourDetails.lastName<br>
                    @data.yourDetails.role<br>
                    @data.yourDetails.phone<br>
                    @data.yourDetails.email
                </td>
                <td>
                    <a href="@routes.YourDetailsController.get">
                        Change <span class="visuallyhidden">Your Details</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Submit your application</h2>

    <p>You're applying to become a Lifetime ISA manager.</p>

    <div class="section">
        <p class="important-notice">
            <i class="visuallyhidden">Warning</i>
            By registering to become a Lifetime ISA manager, you confirm that all the
            information you’ve provided is correct.
        </p>
    </div>

    <p><a href="@routes.RosmController.get" class="button">Accept and register</a></p>

}
