@import helper.CSRF
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.error.errorSummaryOrgTemplate

@(form: Form[TradingDetails])(implicit request: Request[_], messages: Messages)

@contentHeader = {
    <h1>Your organisation's reference numbers</h1>
}

@views.html.main_template(title = "Your organisation's reference numbers - Apply to be an approved Lifetime ISA Manager - GOV.UK", bodyClasses = None, contentHeader = Some(contentHeader)) {

    @errorSummaryOrgTemplate(form)

    <form method="post">
        @CSRF.formField
        <div class="form-group">
            @input(form("fsrRefNumber"),
            '_label -> "Financial Conduct Authority (FCA) reference number",
            '_inputHint -> "Enter your 6 digit FCA number, for example, ‘123456'.",
            '_hintId -> "hint-fca-text",
            '_inputClass -> "form-control form-control--block")
        </div>
        <div class="form-group">
            @input(form("isaProviderRefNumber"), '_label -> "ISA manager reference number", '_inputClass -> "form-control form-control--block")
        </div>
        <div class="form-field form-field--submit">
            <input type="submit" class="button" value="Continue" id="continue">
        </div>
        <div class="form-field form-field--submit">
            <p><a href="javascript:history.go(-1)" class="back-link" id="back">Back</a></p>
        </div>
    </form>

}
