@import helper.CSRF
@import uk.gov.hmrc.play.views.html.helpers._

@(form: Form[YourDetails])(implicit request: Request[_], messages: Messages)

@contentHeader = {
    <h1>Your details</h1>
}

@views.html.main_template(title = "Your details - Register as a Lifetime ISA manager - GOV.UK", bodyClasses = None, contentHeader = Some(contentHeader)) {

    <div class="subsection">
        <p class="indent">HMRC might contact you, or someone else from your organisation,
            to confirm the information in this application.</p>
    </div>

    <form method="post">
        @CSRF.formField
        <fieldset>
            <div class="form-group">
                @input(form("firstName"), '_label -> "First name", '_inputClass -> "form-control form-control--block")
            </div>
            <div class="form-group">
                @input(form("lastName"), '_label -> "Last name", '_inputClass -> "form-control form-control--block")
            </div>
            <div class="form-group">
                @input(form("role"), '_label -> "Role in the organisation", '_inputClass -> "form-control form-control--block")
            </div>
            <div class="form-group">
                @input(form("phone"), '_label -> "Phone number", '_inputClass -> "form-control form-control--block")
            </div>
            <div class="form-group">
                @input(form("email"), '_label -> "Email address", '_inputClass -> "form-control form-control--block")
            </div>
            <div class="form-field form-field--submit">
                <input type="submit" class="button" value="Continue">
            </div>
            <div class="form-field form-field--submit">
                <p><a href="javascript:history.go(-1)" class="back-link">Back</a></p>
            </div>
        </fieldset>
    </form>

}
