@()(implicit request: Request[_], messages: Messages)

@views.html.main_template(title = "Lifetime ISA", bodyClasses = None) {

    <h1>Lifetime ISA</h1>

    <h2>Register as a lifetime isa provider</h2>

    <p>You can use this service to register with HM Revenue and Customs (HMRC) as a lifetime ISA provider.</p>

    <h3>Check your status</h3>

    <p>You can also use this service to check the status of a submitted registration. </p>

    <p><a class="button button--get-started" href="@routes.OrganisationDetailsController.get()" role="button">Start now</a></p>

    <h2>Before you start</h2>

    <p>You must:</p>

    <ul class="list-bullet">
        <li>be registered with the Financial Conduct Authority</li>
        <li>be registered with HMRC as an ISA provider</li>
    </ul>

    <p>You will need your:</p>

    <ul class="list-bullet">
        <li>corporation tax reference number</li>
        <li>financial services register reference number</li>
        <li>ISA provider reference number</li>
    </ul>

    <p>If you do not have a Government Gateway ID, or need to re-register for an account, you can set one up as part of this service.</p>



}
