@()(implicit request: Request[_], messages: Messages)

@contentHeader = {
    <div class="grid grid-2-3">
        <h1>Apply to be an approved Lifetime ISA Manager</h1>
    </div>
}

@views.html.main_template(title = "Apply to be an approved Lifetime ISA Manager - GOV.UK", bodyClasses = None, contentHeader = Some(contentHeader), showSignOutLink = false) {

    <section class="subsection">

        <p>Use this service to:</p>

        <div class="gutter-left">
            <ul class="list list-bullet">
                <li>apply to be an approved Lifetime ISA Manager with HM Revenue and Customs (HMRC)</li>
                <li>check the status of a submitted application</li>
            </ul>
        </div>

    </section>

    <p><a class="button button--get-started" href="@routes.BusinessStructureController.get()" role="button" id="continue">Start now</a></p>

    <section class="subsection">

        <h2>Before you start</h2>

        <p>You must be registered with HMRC as an ISA manager.</p>

        <p>You’ll need your organisation's:</p>

        <div class="gutter-left">
            <ul class="list list-bullet">
                <li>Government Gateway ID</li>
                <li>ISA manager reference number</li>
                <li>Corporation Tax reference number/Partnership Unique Tax reference number</li>
                <li>Financial Conduct Authority reference number</li>
            </ul>
        </div>

        <p>If you don't have a Government Gateway ID, or need to re-register for an account, you can set one up as part of this service.</p>

    </section>

}

