@()(implicit request: Request[_], messages: Messages)

@contentHeader = {
    <h1>Register as a Lifetime ISA manager</h1>
}

@views.html.main_template(title = "Register as a Lifetime ISA manager - GOV.UK", bodyClasses = None, contentHeader = Some(contentHeader), showSignOutLink = false) {

    <section class="subsection">

        <p>Use this service to:</p>

        <div class="gutter-left">
            <ul class="list list-bullet">
                <li>apply to register with HM Revenue and Customs (HMRC) as a Lifetime ISA manager</li>
                <li>check the status of a submitted application</li>
            </ul>
        </div>

    </section>

    <p><a class="button button--get-started" href="@routes.BusinessStructureController.get()" role="button" id="continue">Start now</a></p>

    <section class="subsection">

        <h2>Before you start</h2>

        <p>You must be registered with HMRC as an ISA manager.</p>

        <p>You'll need your:</p>

        <div class="gutter-left">
            <ul class="list list-bullet">
                <li>ISA manager reference number</li>
                <li>Corporation Tax reference number</li>
                <li>Financial Conduct Authority reference number</li>
            </ul>
        </div>

        <p>If you don't have a Government Gateway ID, or need to re-register for an account, you can set one up as part of this service.</p>

    </section>

}
