@import 'partials/_variables';
@import 'partials/_tabular-data';

.flash.error-summary {
    border-width: 4px;
    border-color: $error-red;

    a {
        font-weight: bold;
        color: $error-red;
    }
}

.form-field--error {
    border-left-width: 4px;
    border-left-color: $error-red;

    .error-notification {
        font-size: 19px;
        font-weight: bold;
        color: $error-red;
    }
}

.transaction-banner--complete .transaction-banner__subheading {
    font-size: 24px;
    font-weight: bold;
}

.error-summary--show:focus {
    outline: 3px solid #ffbf47;
}

.form-control {
    border-color: #0b0c0c;
}

.summary-subsection {
    margin-bottom: 30px;
}

#companyStructure {
    margin-top: 0px;
    h1 {
        margin-block-start: 0.67em;
    }
}

p.indent {
    font-size: 19px;
}

#whyGiveThisRating {
    min-height: 150px;
}

.govuk-summary-list {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin: 0;
    margin-bottom: 20px
}

@media print {
    .govuk-summary-list {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list {
        font-size:19px;
        line-height: 1.31579
    }
}

@media print {
    .govuk-summary-list {
        line-height: 1.15
    }
}

@media print {
    .govuk-summary-list {
        color: #000
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list {
        display:table;
        width: 100%
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list {
        margin-bottom:30px
    }
}

@media (max-width: 40.0525em) {
    .govuk-summary-list__row {
        margin-bottom:15px;
        border-bottom: 1px solid #bfc1c3
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__row {
        display:table-row
    }
}

.govuk-summary-list__key,.govuk-summary-list__value,.govuk-summary-list__actions {
    margin: 0
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key,.govuk-summary-list__value,.govuk-summary-list__actions {
        display:table-cell;
        padding-right: 20px
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key,.govuk-summary-list__value,.govuk-summary-list__actions {
        padding-top:10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bfc1c3
    }
}

.govuk-summary-list__actions {
    margin-bottom: 15px
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__actions {
        padding-right:0;
        text-align: right
    }
}

.govuk-summary-list__key,.govuk-summary-list__value {
    word-break: break-word;
    word-break: break-all;
}

.govuk-summary-list__key {
    margin-bottom: 5px;
    font-weight: 700
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key {
        width:30%
    }
}

@media (max-width: 40.0525em) {
    .govuk-summary-list__value {
        margin-bottom:15px
    }
}