@import 'partials/_variables';
@import 'partials/_tabular-data';

.flash.error-summary {
    border-width: 4px;
    border-color: $error-red;

    a {
        font-weight: bold;
        color: $error-red;
    }
}

.form-field--error {
    border-left-width: 4px;
    border-left-color: $error-red;

    .error-notification {
        font-size: 19px;
        font-weight: bold;
        color: $error-red;
    }
}

.error-message {
        color: $error-red;
    }

.transaction-banner--complete {
    background-color: #00703c;
}

.transaction-banner--complete .transaction-banner__subheading {
    font-size: 24px;
    font-weight: bold;
}

.error-summary--show:focus {
    outline: 3px solid #ffdd00;
}

.form-control {
    border-color: #0b0c0c;
}

.summary-subsection {
    margin-bottom: 30px;
}

#companyStructure {
    margin-top: 0px;
    h1 {
        margin-block-start: 0.67em;
    }
}

p.indent {
    font-size: 19px;
}

#whyGiveThisRating {
    min-height: 150px;
}

#global-header .header-proposition a.menu {
    display: none;
}
.js-enabled #global-header .header-proposition #proposition-links {
    display: block;
}

input:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

/*
[TEMPORARY]
Temporary class selector to force govukPanel contents to wrap when user zooms in.
govukPanel to be updated by GDS in due course to update this issue.
Applied to: application_submitted page
See: DDCE-2340
 */
.name-overflow {
    word-wrap: break-word; /* old version of overflow-wrap for IE and Edge and FF < 49*/
    overflow-wrap: anywhere; /* modern, tries to fit word on a new line rather than fitting on remnants of the current line */
    /* hyphens is not supported on Chrome < 55 or Opera and misc mobile browsers */
    -webkit-hyphens: auto;
    -ms-hyphens: auto; /* ie10+ */
    -moz-hyphens: auto;
    hyphens: auto;
}

.govuk-back-link {
    display: none;
}
.js-enabled .govuk-back-link {
    display: inline-block;
}
