@import 'partials/_variables';
@import 'partials/_tabular-data';

.flash.error-summary {
    border-width: 4px;

    a {
        font-weight: bold;
    }
}

.form-field--error {
    border-left-width: 4px;

    .error-notification {
        font-size: 19px;
        font-weight: bold;
    }
}

.transaction-banner--complete .transaction-banner__subheading {
    font-size: 22px;
    font-weight: 400;
}
