@(questionnaireForm: Form[models.Questionnaire])(implicit request : Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._



@views.html.main_template(title = "Apply to be an approved Lifetime ISA Manager - GOV.UK", bodyClasses = None, contentHeader = None, showSignOutLink = false) {

   <div class="logged-out-page">

        <h1 class="heading" id="heading">@Messages("label.youre_signed_out")</h1>
        <p id="signed-out-text">@Messages("label.youre_now_signed_out_of_your_lifetime_isa_account")</p>
        <hr class="lisa-hr" />
        <h2 class="heading-medium" id="satisfaction-survey-heading">@Messages("label.satisfaction_survey")</h2>
        @helpers.form(action = controllers.routes.QuestionnaireController.submitQuestionnaire, 'class -> "satisfactionSurveyForm") {

        @inputRadioGroup(questionnaireForm("easyToUse"),
        Seq(
        "4" -> Messages("label.very_easy"),
        "3" -> Messages("label.easy"),
        "2" -> Messages("label.neither_easy_or_difficult"),
        "1" -> Messages("label.difficult"),
        "0" -> Messages("label.very_difficult")
        ),
        '_legend -> Messages("label.how_easy_was_the_service_to_use"),
        '_labelAfter -> true,
        '_fieldsetAttributes -> "id=easyToUseFieldset"
        )
        <div><br></div>
        @inputRadioGroup(questionnaireForm("satisfactionLevel"),
        Seq(
        "4" -> Messages("label.very_satisfied"),
        "3" -> Messages("label.satisfied"),
        "2" -> Messages("label.neither_satisfied_or_dissatisfied"),
        "1" -> Messages("label.dissatisfied"),
        "0" -> Messages("label.very_dissatisfied")
        ),
        '_legend -> Messages("label.how_satisfied_were_you_with_the_service"),
        '_labelAfter -> true
        )
        @helper.textarea(questionnaireForm("whyGiveThisRating"),
        'rows -> 5,
        '_label -> Messages("label.why_did_you_give_this_rating"))

        <p id="dont-include-text">@Messages("label.please_dont_include_any_personal_or_financial_information")</p>
        <button id="submit" type="submit" class="button">@Messages("label.send_feedback")</button>

        }

    </div>

}

<style>
        textarea {
        width: 100%;
        padding: 0px;
        background-color: white;
        border: 1px solid #bfc1c3;
        }

        legend{
          font-size: 24px;
          font-weight: bold;
        }

header h1 {
    margin-bottom:15px;
    margin-left:15px
}
</style>>